# Database connection variables
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=changeme
DB_NAME=flowline
SEED_USER_EMAIL=user@example.com

# Better Auth
AUTH_SECRET=changeme
AUTH_URL=http://localhost:3000

CLIENT_URL=http://localhost:5173
